
@import 'src/typography.scss';


.accordion {
  box-sizing: border-box;
}

.title-container {
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    
}
  
    
  /* .accordion-header-hover {
   
    background-color: red;
    margin-block:auto;
    box-sizing: border-box;
  }
  */
  
  /* conteudo de texto do cabecalho */

  .title {
    @extend .label-strong;
    color:var(--text-color-title);
  }
  
  .description {
    @extend .small-regular;
    color:var(--text-color-description);
  }
  
  
  .header {
    max-height:var(--size-700);
    background-color: var(--color-bg-primary);
    min-height:56px;
    
  }
  
  .accordion-header-hover:hover {
    background-color: var(--color-bg-hover);
    /* margin-block:auto; */
  }
  
 /* nao se faz necessário, a classe header resolve
 
 .mat-expansion-panel-header {
    
} */
  
  
  
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:hover {
    background:var(--color-bg-hover);
  }
  
  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-collapsed:hover {
   background: var(--color-bg-primary);
  }
  
/* cor do chevron */
::ng-deep .mat-expansion-indicator::after { color:var(-icon-color-default);}


/*cor da borde em default e hover */
.mat-expansion-panel:hover {
 
    outline: var(--border-width-interaction) solid var(--color-border-interaction)!important;
    box-shadow: none !important;
}

.mat-expansion-panel {
 
  outline: var(--border-width-default) solid var(--color-border-container);
  box-shadow: none !important;
}

/* remover a sombra */
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box: shadow 0; }

.content {
    background-color:var(--color-bg-primary);
    /* esse margin foi  colocado pra alinhar o componente da forma que está construido no Ds */
    margin:-24px;
    
    padding:var(--padding-400);
    padding-block:var(--padding-600);
}