
@import 'src/typography.scss';


.accordion {
  box-sizing: border-box;
}

.title-container {
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    
}
  
    
  .accordion-header-hover {
   
    background-color: red;
    margin-block:auto;
    box-sizing: border-box;
  }
  
  .title {
    @extend .label-strong;
    color:#1E2224;
  }
  
  .description {
    @extend .small-regular;
    color:#969696;
  }
  
  .header {
    max-height:56px;
  }
  
  .accordion-header-hover:hover {
    background-color: darken(#fefefd,05%);
  
    margin-block:auto;
  }
  
  .mat-expansion-panel-header {
    min-height:56px;
    background-color:#fefefd;
  }
  
  
  
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:hover {
    background: #0070c010;
  }
  
  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-collapsed:hover {
   background: #fefefd;
  }
  
   
::ng-deep .mat-expansion-indicator::after { color:#1E2224;}



 .mat-expansion-panel:hover {
 
    outline: 2px solid #005faf !important;
    box-shadow: none !important;

  
  
}

.mat-expansion-panel {
 
  outline: 1px solid darken(#fefefd, 30%);
  box-shadow: none !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box: shadow 0; }

  .content {
    background-color: #fefefd;
    height:200px;
    margin-inline:-24px;
    margin-bottom:-24px;
    padding:24px; /* padding-200 */
  }