<button class="button" mat-flat-button (click)="navigate()" [disableRipple]="true"  [disabled]="variant === 'disabled'" [ngClass]="{
    'primary': variant === 'primary',
    'secondary': variant === 'secondary',
    'warning': variant === 'warning',
    'warning-secondary': variant === 'warning-secondary',
    'disabled': variant ==='disabled',
    'tertiary': variant ==='tertiary',
    'size-lg': size === 'lg',
    'size-md': size === 'md',
    'size-sm': size === 'sm',
  }">
  <span class="content">
    <div class="left-icon icon">
      <ng-content select="[left-icon]"></ng-content>
    </div>
    <span class="label">
      <ng-content select="[label]"></ng-content>
    </span>
    <div class="right-icon icon">
      <ng-content select="[right-icon]"></ng-content>
    </div>
  </span>
  </button>
  