
@import 'src/typography.scss';

/* Nao consegui desabilitar o ripple dos botões */

/* classe geral dos botões */
.content {
    display: flex;
    flex:1;
}
.primary .mat-flat-button:hover {
    background-color: pink;
}
.button {
    display:flex;
    flex-direction: row;
    padding-inline: var(--padding-250);
    border-radius:var(--border-radius-default);
    width:fit-content;
    align-items: center;
    border-width: var(--border-width-default);
    border-style: solid;
    
    
}

/* propriedades gerais dos labels */

* > .label {
    margin-inline:var(--padding-100);
    @extend .label-medium;
}

/*propriedades gerais de icones */

* > .icon {
    width:fit-content;
    max-width:var(--icon-size-sm) !important;
    max-height:var(--icon-size-sm) !important;
}


/* primary button */
.primary{
    background-color:var(--button-primary-color-default) !important;
    border-color:var(--color-border-action);
    &:hover {
        background-color: var(--button-primary-color-hover) !important;
    }
    &:active{ 
        background-color: var(--button-primary-color-active) !important;
    }
    .content>.label {
        color: var(--text-color-on-color-title);       
    }
    .content>.icon {
        color:var(--icon-color-on-color);
    }
}
    
 /* secondary button */

.secondary{
        background-color: var(--container-color-primary);
        border-color:var(--color-border-action);
    &:hover{
    background-color:var(--container-color-hover)!important;
   }
    &:active{
    background-color: var(--container-color-active) !important;
    }
    .content> .label {
    color:var(--text-color-action);
    }
    .content> .icon {
    color:var(--icon-color-action)
    }
}
/* warning button */
        
.warning{
     background-color: var(--button-warning-color-default) !important;
     border-color:var(--color-border-warning);
     &:hover{
        background-color: var(--button-warning-color-hover) !important;
    }
    &:active{
        background-color: var(--button-warning-color-active) !important;
        }
    .content> .label {
    color:var(--text-color-on-color-title);
    }
    .content> .icon {
        color:var(--icon-color-on-color);
    }
}

/* warning secondary */

.warning-secondary{
    background-color: var(--container-color-primary) !important;
    border-color:var(--color-border-warning);
    &:hover{
        background-color: var(--button-warning-color-hover) !important;
    }
    &:active{
        background-color: var(--button-warning-color-active) !important;
    }
    .content> .label {
        color: var(--text-color-warning);
    }
    .content> .icon {
        color:var(--icon-color-warning);
    }
    &:hover .content > .label {
    color:var(--text-color-on-color-title);
    }

    &:hover .content > .icon {
    color:var(--icon-color-on-color);
    }    
}


    

    


/* disabled */

.disabled{
    background-color: var(--color-bg-disabled)!important;
    border-color:var(--color-border-disabled) ;
    border-width: 0;
    .content > .label {
        color:var(--text-color-disabled);
    }
    .content > .icon {
    color:var(--icon-color-disabled);
    }
}
 /* tertiary button */

.tertiary{
background-color:var(--container-color-default) !important;
border-color: var(--color-border-action);
border-width: 0;
border-style: solid;;
    &:hover{
        background-color:var(--container-color-hover) !important;
    }
    &:active{
        background-color: var(--container-color-active) !important;
    }
                
    .content> .label {
        color: var(--text-color-action);
    }
    .content > .icon {
        color:var(--icon-color-action);
}
}
            

/* size variants */

.size-lg {
    height:var(--button-size-lg);
}

.size-md {
    height:var(--button-size-md);
}

.size-sm {
    height:var(--button-size-sm);
}