<head>
  <link rel="stylesheet" href="/src/typography.scss">
  </head>

<body>

  <h1 class="h1"> Button</h1>
  <p> Como usar:</p>
  <pre>
    <code>
      &lt;app-dssefa-button variant="warning" size="lg" label="kkkkkry"&gt;
        &lt;div left-icon&gt;&lt;!-- Left icon , either mat-icon or svg path--&gt;&lt;/div&gt;
        &lt;div right-icon&gt;&lt;!-- Right icon , either mat-icon or svg path--&gt;&lt;/div&gt;
      &lt;/app-dssefa-button&gt;
    </code>
  </pre>
  <div class="button-container">
    <app-dssefa-button  [path]="'https://www.sefa.pa.gov.br/'"variant="primary" size="lg">
        <div label>test</div>
        <div left-icon>
            <mat-icon>edit</mat-icon>
        </div>
        <div right-icon>
            <mat-icon>edit</mat-icon>
        </div>
    </app-dssefa-button>
    <app-dssefa-button variant="secondary" size="lg">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="tertiary" size="lg">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="warning" size="lg">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="warning-secondary" size="lg">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="disabled" size="lg">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    </div>
    <div class="button-container">
    <app-dssefa-button variant="primary" size="md">
        <div label>test</div>
        <div left-icon>
            <mat-icon>edit</mat-icon>
        </div>
        <div right-icon>
            <mat-icon>edit</mat-icon>
        </div>
    </app-dssefa-button>
    <app-dssefa-button variant="secondary" size="md">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="tertiary" size="md">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="warning" size="md">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="warning-secondary" size="md">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="disabled" size="md">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    </div>
  <div class="button-container">
    <app-dssefa-button variant="primary" size="sm">
        <div label>test</div>
        <div left-icon>
            <mat-icon>edit</mat-icon>
        </div>
        <div right-icon>
            <mat-icon>edit</mat-icon>
        </div>
    </app-dssefa-button>
    <app-dssefa-button variant="secondary" size="sm">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="tertiary" size="sm">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="warning" size="sm">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="warning-secondary" size="sm">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
    <app-dssefa-button variant="disabled" size="sm">
        <div label>label</div>
        <div left-icon></div>
        <div right-icon></div>
    </app-dssefa-button>
</div>


<h1> Alert</h1>
<p> Como usar:</p>
<app-dssefa-alert icon="info" variant="warning">
  <!-- Title content -->
  <div title>Titulo</div>
  <!-- Description content -->
  <div description>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi hic delectus id </div>
  <!-- CTA content -->
  <div cta-content>
    
  </div>
</app-dssefa-alert>



<h1>Accordion</h1>
<p> Como usar:</p>
<app-dssefa-accordion></app-dssefa-accordion>


<h1>Card</h1>
<p> Como usar:</p>
<app-dssefa-card  variant="inline" title="Card Title">
    <!-- Content provided by the user -->
    
    <app-card-item  ><div title> lalaldds </div> <div description>  tititi </div></app-card-item>
    <app-card-item  ><div title> lalaldds </div> <div description>  tititi </div></app-card-item>
    <app-card-item  ><div title> lalaldds </div> <div description>  tititi </div></app-card-item>
    <app-card-item  ><div title> lalaldds </div> <div description>  tititi </div></app-card-item>
    <app-card-item  ><div title> lalaldds </div> <div description>  tititi </div></app-card-item>
   
    
  </app-dssefa-card>

  
</body>
