<body>

<app-dssefa-button  variant="warning"  size="lg" icon="edit" label="kkkkkry"> test </app-dssefa-button>



<app-dssefa-alert icon="info" variant="warning">
  <!-- Title content -->
  <div title>Titulo</div>
  <!-- Description content -->
  <div description>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi hic delectus id </div>
  <!-- CTA content -->
  <div cta-content>
    <app-dssefa-button> Teste</app-dssefa-button>
  </div>
</app-dssefa-alert>


<app-dssefa-accordion></app-dssefa-accordion>


<app-dssefa-card title="Card Title">
    <!-- Content provided by the user -->
    <app-card-item title="Item 1 Title" description="Item 1 Description"></app-card-item>
    <app-card-item title="Item 2 Title" description="Item 2 Description"></app-card-item>
  </app-dssefa-card>
</body>
