<div class="alert" [ngClass]="{
    'warning': variant === 'warning',
    'success': variant === 'success',
    'attention': variant === 'attention',
    'info': variant ==='info',
  }">
    <div class="header">
        <div class="icon"><mat-icon>{{ icon }}</mat-icon></div>
        <div class="title-container ">
            <ng-content select="[title]"></ng-content>
        </div>
        <div class="icon-close"><mat-icon>close</mat-icon></div>
    </div>
    <div class="description">
        <ng-content select="[description]"></ng-content>
    </div>
    <div class="cta">
        <ng-content select="[cta-content]"></ng-content>
    </div>
</div>
